.social-login
    button.social-login--github
        span
            .i.fab.fa-github
        |Continue with Github
    button.social-login--facebook
        span
            .i.fab.fa-facebook
        |Continue with Facebook

// |는 이 안에 들아간 것들을 텍스트로 바꿔준다